#footer
{
	position:fixed;
        width:100%;
        margin:0px auto;
        padding:0px;
        bottom:0px;
	font-size: 1em;
	text-align: center;
	border-top: 1px solid #000;
        background-color: #0E4F5F;
}
.footer-main-row{
    margin:0px!important;
    padding:0px!important;
    
}
.hedder{
    margin:0px!important;
    padding:0px!important; 
}
th{
    color:#000;
}
.logo{
    position: absolute;

    left:20%;
    margin-top: 128px;
    background: url('../images/logo.png')0px 0px no-repeat;
    width:325px;
    height:200px;
    zoom: 200%;
}